<ng-container *ngIf="chat?.message?.length; else newChat">
  <div class="flex flex-col w-1/2 mx-auto" style="height: 90vh">
    <div class="flex-none h-20"></div>
    <div #scrollContainer class="grow overflow-y-auto scroll-smooth">
      <ng-container *ngIf="chat">
        <div
          *ngFor="let message of chat.message"
          class="chat py-3"
          [ngClass]="{
            'chat-end': message.isUser,
            'chat-start': !message.isUser
          }"
        >
          <!-- Image -->
          <ng-container *ngIf="!message.isUser">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Tailwind CSS chat bubble component"
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                />
              </div>
            </div>
          </ng-container>

          <!-- Message -->
          <div
            class="chat-bubble bg-neutral text-neutral-content"
            [innerHTML]="message.content"
          ></div>
          <!-- <div class="chat-footer opacity-50">{{ message.tokens }}</div> -->
        </div>
        <!-- Loading Icon -->
        <div
          *ngIf="chat.message.slice(-1)[0]?.isUser"
          class="chat-bubble bg-neutral text-neutral-content"
        >
          <span class="loading loading-dots loading-sm"></span>
        </div>
      </ng-container>
    </div>
    <app-input (valueOut)="sendMessage($event)"></app-input>
  </div>
</ng-container>

<ng-template #newChat>
  <app-new-chat (newMessageOut)="sendMessage($event)"></app-new-chat>
</ng-template>
