<div class="flex flex-col items-center justify-center h-screen">
  <div>
    <h1 class="text-5xl font-bold pb-6">CheapGPT</h1>
  </div>

  <div class="card bg-base-200 w-96 shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-2xl">Welcome Back</h2>

      <div class="flex flex-col gap-4 py-3">
        <button class="btn bg-base-300" (click)="loginWithGoogle()">
          <img class="w-5 h-5" src="/google_logo.png" alt="Google Logo" />
          Login with Google
        </button>
        <button class="btn bg-base-300" (click)="loginWithGitHub()">
          <img class="w-5 h-5" src="/github_logo.svg" alt="GitHub Logo" />
          Login with GitHub
        </button>
      </div>

      <div class="justify-end pt-2">
        <p>
          Don't have an account yet?
          <span class="link link-primary" routerLink="/signup">Sign up</span>
        </p>
      </div>
    </div>
  </div>
</div>
