<!-- Window -->
<div class="flex h-full w-full overflow-hidden">
  <!-- Left Sidebar -->
  <app-drawer
    *ngIf="isDrawerOpen"
    (chatSelectedChange)="onChatSelected($event)"
    [(isDrawerOpen)]="isDrawerOpen"
    [(newMessage)]="newMessage"
    class="flex flex-shrink-0 overflow-x-hidden max-md:!w-0 w-72"
  ></app-drawer>
  <!-- Right Sidebar -->
  <div class="flex-1 flex flex-col h-screen w-full">
    <!-- Header -->
    <div class="navbar">
      <div class="flex-1">
        <ng-container *ngIf="!isDrawerOpen">
          <button class="btn btn-square btn-ghost" (click)="onDrawerChange()">
            <i-lucide [img]="PanelLeftOpen" class="w-5 h-5"></i-lucide>
          </button>
        </ng-container>
        <a class="btn btn-ghost text-xl">CheapGPT</a>
      </div>
      <div class="px-3">
        <input
          type="checkbox"
          class="toggle theme-controller"
          data-toggle-theme="dark,bumblebee"
          data-act-class="ACTIVECLASS"
        />
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
          <i-lucide [img]="Settings" class="w-5 h-5"></i-lucide>
        </div>
        <ul
          tabindex="0"
          class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow"
        >
          <app-llm-model-settings
            (modelChange)="onModelChange($event)"
          ></app-llm-model-settings>

          <li>
            <a (click)="onLogout()"> Logout </a>
          </li>
        </ul>
      </div>
      <!-- <div>
        
      </div> -->
    </div>

    <!-- Main Content -->
    <div class="grow">
      <app-chat [chat]="selectedChat" (newMessage)="onNewMessage()"></app-chat>
    </div>

    <!-- Footer -->
    <div class="min-h-3 text-center text-sm pb-2"><p>CheapGPT © 2024</p></div>
  </div>
</div>
