<li>
  <a onclick="my_modal_1.showModal()">Default Model</a>
</li>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <!-- Content -->
    <h3 class="text-lg font-bold pb-5">LLM Models</h3>

    <div class="flex flex-col gap-4">
      <div>
        <select
          class="select select-bordered w-full mx-auto"
          [(ngModel)]="selectedModelId"
        >
          <option
            *ngFor="let model of models$ | async"
            [value]="model.modelName"
          >
            {{ model.modelDisplayName }}
          </option>
        </select>
        <div class="label">
          <span class="label-text-alt"
            >This model will be used by default on all new chats</span
          >
        </div>
      </div>

      <div>
        <div class="modal-action flex-none">
          <form method="dialog">
            <button
              class="btn btn-primary w-full mx-auto"
              (click)="onSave(selectedModelId)"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
