<li>
  <a onclick="my_modal_1.showModal()">LLM Models</a>
</li>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        (click)="model.value = ''; key.value = ''"
      >
        ✕
      </button>
    </form>
    <!-- Content -->
    <h3 class="text-lg font-bold pb-5">LLM Models</h3>

    <div class="flex flex-col gap-4">
      <div>
        <h3 class="font-bold pb-2">Select AI Model</h3>
        <select #model class="select select-bordered w-full mx-auto">
          <option>GPT-4o</option>
          <option>GPT-4o Mini</option>
        </select>
      </div>

      <div>
        <input
          #key
          type="text"
          placeholder="Enter API Key"
          class="input input-bordered w-full mx-auto"
        />
        <div class="modal-action flex-none">
          <form method="dialog">
            <button
              class="btn btn-primary w-full mx-auto"
              (click)="
                onSave(model.value, key.value); model.value = ''; key.value = ''
              "
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
