<div class="flex flex-col items-center justify-center h-screen">
  <div>
    <h1 class="text-4xl font-bold pb-6">CheapGPT</h1>
  </div>

  <div class="card bg-neutral w-96 shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-2xl py-2">Welcome Back</h2>

      <div class="flex flex-col gap-5">
        <button class="btn">
          <img
            src="../../../../assets/github.svg"
            alt="Github Icon"
            class="w-6 h-6"
          />
          Log in with Google
        </button>

        <button class="btn">
          <img
            src="../../../../assets/github.svg"
            alt="Github Icon"
            class="w-6 h-6"
          />
          Log in with Github
        </button>
      </div>

      <div class="justify-end pt-2">
        <p>
          Don't have an account yet?
          <span class="link link-primary" routerLink="/signup"
            >Sign up here</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
